<h1 class="text-center mb-5">Listing Tools</h1>

<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-md-6">
      <%= form_with url: tools_path, method: :get, class: "d-flex justify-content-center align-items-center" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control me-2",
              placeholder: "Find a tool"
          %>
        <button class="btn btn-primary" type="submit">Search</button>
      <% end %>
    </div>
  </div>

  <div class="row mb-5">
    <% @tools.each do |tool| %>
      <div class="col-md-4 mb-4">
        <div class="card tool-card">
          <%= image_tag("banner.png", class: "card-img-top", alt: "tool image") %>
          <div class="card-tool-infos d-flex justify-content-between">
            <div>
              <%= link_to tool_path(tool) do %>
                <h2 class="card-title"><%= tool.name %></h2>
              <% end %>
            </div>
            <h2 class="card-tool-pricing"><%= tool.price %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <%= link_to "New tool", new_tool_path, class: "btn btn-success" %>
  </div>
</div>


<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
