<h1>Listing tools</h1>

<% @tools.each do |tool| %>
  <div>
    <%= cl_image_tag(
      tool.photos.first.key,
      width: 400,
      height: 300,
      crop: :fill
    ) %>
    <p>Name : <%=tool.name %></p>
    <p>Detail :<%=  tool.detail %></p>
    <p>Price : <%= tool.price %></p>
    <p>User : <%= tool.user.email %></p>
    <p>Address : <%= tool.user.address %></p>
    <%= link_to "Show", tool_path(tool) %>
  </div>
<% end %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%= link_to "New tool", new_tool_path %>
