<h1>New Tool</h1>

<%= form_with(model: @tool, url: tools_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_field :detail %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit "Create Tool" %>
  </div>
<% end %>

<%= link_to 'Back', tools_path %>
