<h1>Edit Booking for </h1>

<%= form_with(model: @booking) do |form| %>
  <div>
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :status %>
  </div>

  <%= form.submit %>
<% end %>

<%= link_to 'Back', tool_path(@booking.tool) %>
