<h1>New Booking for </h1>

<%= simple_form_for([@tool, @booking]) do |form| %>
  <div>
    <%= form.input :start_date %>
  </div>

  <div>
    <%= form.input :end_date %>
  </div>


  <%= form.submit %>
<% end %>

<%= link_to 'Back', tool_path(@tool) %>
